# Gitignore file for a Django project

# Environment variables
.env

# IDE files
.idea/
.qodo/

# Python virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Django local database
db.sqlite3
db.sqlite3-journal

# Celery / Beat runtime files
celerybeat-schedule
celerybeat-schedule.*
celerybeat-*
*.dat
*.dir
*.bak

# Collected static files (for deployment)
staticfiles/

# Log files
*.log

# Media files
*.webm
*.mp3